:root {
  --bg-color: #f5f6fa; /* Light grayish-white background */
  --bg-secondary-color: #ffffff; /* Pure white for secondary elements */
  --text-color: #1c1c1e; /* Deep black text for readability */
  --primary-color: #49969c; /* Slightly darker blue for primary actions */
  --border-color: #d6d7db; /* Subtle gray border */
  --cta-color: #ff3b30; /* Bright red for CTAs */
  --cta-text-color: #ffffff; /* White text on CTAs for contrast */
  --placeholder-color: #c7c7cc; /* Light muted gray for placeholders */
  --close-color: #ff3b30; /* Matches the CTA color for consistency */
}

.App--dark {
  --bg-color: #161618; /* Dark background */
  --bg-secondary-color: #1b1b1f; /* Slightly lighter secondary background */
  --text-color: #e0efef; /* Light gray text for readability */
  --primary-color: #49969c; /* Vibrant blue for primary actions */
  --border-color: #292b30; /* Subtle border color */
  --cta-color: #ff5c5c; /* Eye-catching red for call-to-action buttons */
  --cta-text-color: #ffffff; /* White text on CTAs for contrast */
  --placeholder-color: #888c92; /* Muted gray for placeholders */
  --close-color: #ff5c5c; /* Matches the CTA color for consistency */
}
